@model MainModel

<h1>Coffee Storyboard</h1>



<br>
<form asp-controller="Post" asp-action="newPost" method="Post">
    <div class="form-group">
        <span class="text-danger font-weight-bold" asp-validation-for="PostToPost.Content"></span>
        <label asp-for="PostToPost.Content"></label>
        <textarea class="form-control" asp-for="PostToPost.Content"></textarea>
        <br>
        <button type="button submit" class="btn btn-outline-dark">Submit</button>
    </div>
</form>

@foreach(var post in Model.UsersPost){
    <div class="card">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">@post.UserPosted.FirstName @post.UserPosted.LastName said:</h6>
            <p class="card-text">@post.Content</p>
            <p class="text-muted">Posted on: @post.CreatedAt</p>
            @if(post.UserPosted.UserId==HttpContextAccessor.HttpContext.Session.GetInt32("userId")){
                <form method="post" asp-action="delete" asp-controller="Post" asp-route-pId="@post.PostId">
                    <button class="btn btn-outline-dark">Delete</button>
                </form>
                <br>
                <a asp-action="edit" asp-route-pId="@post.PostId" class="btn btn-outline-secondary">Edit</a>
            }
            <div class="form-check form-check-inline float-right">
            @{var didVote = post.Votes.FirstOrDefault(u=>u.UserId==HttpContextAccessor.HttpContext.Session.GetInt32("userId"));}
            @if(didVote==null){
                <form asp-controller="Post" asp-action="Vote" asp-route-vote="true" asp-route-pId="@post.PostId">
                    <button class="form-check-input btn btn-outline-success">&uarr;</button>
                </form>
                <form asp-controller="Post" asp-action="Vote" asp-route-vote="false" asp-route-pId="@post.PostId">
                    <button class="form-check-input btn btn-outline-danger">&darr;</button>
                </form>
            }else{
                if(didVote.IsUpvote==true){
                    <form asp-controller="Post" asp-action="Vote" asp-route-vote="true" asp-route-pId="@post.PostId">
                        <button class="btn btn-success">&uarr;</button>
                    </form>
                    <form asp-controller="Post" asp-action="Vote" asp-route-vote="false" asp-route-pId="@post.PostId">
                        <button class="form-check-input btn btn-outline-danger">&darr;</button>
                    </form>
                }else{
                    <form asp-controller="Post" asp-action="Vote" asp-route-vote="true" asp-route-pId="@post.PostId">
                        <button class="form-check-input btn btn-outline-success">&uarr;</button>
                    </form>
                    <form asp-controller="Post" asp-action="Vote" asp-route-vote="false" asp-route-pId="@post.PostId">
                        <button class="btn btn-danger" >&darr;</button>
                    </form>
                }
            }
        </div>
        </div>
    </div>
}
